@import "./colors";

     .bug{ background-color: rgba($bug, 0.5); }
    .dark{ background-color: rgba($dark, 0.5); }
.dragon-1{ background-color: rgba($dragon-1, 0.5); }
.dragon-2{ background-color: rgba($dragon-2, 0.5); }
.electric{ background-color: rgba($electric, 0.5); }
   .fairy{ background-color: rgba($fairy, 0.5); }
.fighting{ background-color: rgba($fighting, 0.5); }
    .fire{ background-color: rgba($fire, 0.5); }
.flying-1{ background-color: rgba($flying-1, 0.5); }
.flying-2{ background-color: rgba($flying-2, 0.5); }
   .ghost{ background-color: rgba($ghost, 0.5); }
   .grass{ background-color: rgba($grass, 0.5); }
.ground{ background-color: rgba($ground-1, 0.5); }
.ground-2{ background-color: rgba($ground-2, 0.5); }
     .ice{ background-color: rgba($ice, 0.5); }
  .normal{ background-color: rgba($normal, 0.5); }
  .poison{ background-color: rgba($poison, 0.5); }
 .psychic{ background-color: rgba($psychic, 0.5); }
    .rock{ background-color: rgba($rock, 0.5); }
   .steel{ background-color: rgba($steel, 0.5); }
   .water{ background-color: rgba($water, 0.5); }
