@import "../../../node_modules/bootstrap/scss/card";

.card{
    margin-top: 15px;
    border-radius: 99px 0 0 99px;    
    transition: all 0.3s ease-in-out;
    a{
        text-decoration: none;
    }
    img{        
        height: 200px;
        max-width: 200px;
        padding: 15px;
        position: absolute;
        left: -25px;
    }
    :hover {
        img{        
            transform: rotate(5deg);
            transform: scale(1.2);
            transition: all 0.3s ease-in-out;
        }
    }
}