$white: #ffffff;
$black: #000000;

$bug: #729f3f;
$dark: #707070;
$dragon-1: #53a4cf;
$dragon-2: #f16e57;
$electric: #eed535;
$fairy: #fdb9e9;
$fighting: #d56723;
$fire: #fd7d24;
$flying-1: #3dc7ef;
$flying-2: #bebab9;
$ghost: #7b62a3;
$grass: #9bcc50;
$ground-1: #f7de3f;
$ground-2: #ab9842;
$ice: #51c4e7;
$normal: #a4acaf;
$poison: #b97fc9;
$psychic: #f366b9;
$rock: #a38c21;
$steel: #9eb7b8;
$water: #4592c4;