@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "../../../node_modules/bootstrap/scss/badge";

@import "./colors";
@import "./card";
@import "./cardBg";

body{
    background-image: url('../../assets/img/bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-color: #5a3800;
    font-family: 'Segoe UI' !important;
}
.figure-header{
    margin: auto;
}
.text-rigth{
    text-align: right;
}

.badge{
    margin-left: 5px;
}

.titleCard{
    color: #ffff;
}

.state-isload { 
    filter: blur(4px);
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    transition: all 0.5s ease, background-position 1ms;
}

.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .1));  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.1));
}