<div class="d-flex justify-content-cente load-custon" *ngIf="loadService?.loading">
    <div class="loading">
        <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="content"></div>
</div>
<app-navheader></app-navheader>
<div class="container">
    <router-outlet></router-outlet>
</div>
