<div class="bird-container">
  <div class="bird-container">
    <div class="bird"></div>
  </div>
</div>  
<div class="container">
  <div class="row justify-content-md-center">
    <h1 class="title-name text-center">{{pokemonCurrent != undefined ? pokemonCurrent.name : 'Selecione o seu Pokémon!' }}</h1> 
    <div class="col-md-4"> 
      <div class="" *ngIf="pokemonCurrent != undefined">
        <div *ngFor="let statsObj of pokemonCurrent.stats">
          <h2 class="title-name-h2">{{ statsObj.stat.name }}</h2>       
          <div class="progress">
            <div class="progress-bar" 
                [ngClass]="{
                  'bg-danger': statsObj.base_stat < 40, 
                  'bg-warning' : statsObj.base_stat < 70,
                  'bg-success' : statsObj.base_stat > 70 }" 
                  role="progressbar" aria-valuemin="0" aria-valuemax="200" [ngStyle]="{ 'width': statsObj.base_stat + '%' }">
              {{ statsObj.base_stat }}
            </div>
          </div>
        </div>
      </div> 
      <br>
    </div>
    <div class="col-md-4">
      <div class="figure-header">
        <img style="max-height: 380px;" [src]="pokemonCurrent?.sprites?.other?.dream_world?.front_default" class="card-img-top " [ngClass]="{'state-isload': loadService?.loadingStatus}">
      </div>
    </div>
  </div>
  
  <form class="d-flex anime-transition" [formGroup]="form" (ngSubmit)="submit()">
    <input [formControlName]="'pokename'" class="form-control me-2" type="search" placeholder="Buscar Pokémon..." aria-label="Search">
    <button  class="btn btn-success" [disabled]="!form?.valid" type="button" type="submit">Buscar</button>
  </form>
  <br>
  <div class="alert alert-danger" *ngIf="contolMessage" role="alert">{{ message }}</div>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of pokemonList">
      <div class="card" [ngClass]="item.types[0].type.name">
        <a (click)="setPoke(item.id)" >
          <img [src]="item.sprites.other.dream_world.front_default" class="card-img-top img-fluid" [alt]="item.name">
          <div class="card-body text-rigth">            
            <h2 class="card-title titleCard"><b>{{ item.name | uppercase }}</b></h2>
            <h3 class="text-rigth">
              <span *ngFor="let typesModel of item.types" class="badge" [ngClass]="item.types[0].type.name">{{ typesModel.type.name }}</span>
            </h3>
            <button (click)="setPoke(item.id)" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPoke">
              + 
            </button>
          </div>
        </a>          
      </div>
    </div>
  </div>

  <div class="end-button">
    <button (click)='loadMore()' [disabled]="loadService?.loadingStatus" class="btn btn-success">
      {{ !loadService?.loadingStatus ? 'CARREGAR +' : 'CARREGANDO...' }}
    </button>
  </div>

</div>

<div class="modal fade" id="modalPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">{{ pokemonCurrent?.name }}</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="pokemonCurrent?.sprites?.other?.dream_world?.front_default" class="card-img-top img-fluid" [alt]="pokemonCurrent?.name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>