@import '../../scss/_colors.scss';

.anime-transition{
    transition: all 0.3s ease-in-out;
}

.title-name{
    font-size: 2.5rem;
    font-weight: bold;
    color: $white;
    text-shadow: $black 5px 0 5px;
    text-transform: uppercase;
}

.title-name-h2{
    font-size: 12px;
    font-weight: bold;
    color: $white;
    text-shadow: $black 5px 0 5px;
    text-transform: uppercase;
    margin: 0 !important;
    
}

.end-button{
    margin: auto;
    text-align: center;
    padding: 45px;
}

.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 58px;
	height: 83px;
	will-change: background-position;
    position: absolute;

	animation-name: fly-cycle;
	animation-duration: 1s;
	animation-delay: -0.5s;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    
}
.bird-container {
	width: 117px;
	height: 166px;
    position: fixed;

	animation-name: fly-offset;
	animation-duration: 5s;
	animation-delay: -5s;
	animation-iteration-count: infinite;    
}
@keyframes fly-cycle {	
	100% {
		background-position: -600px 0;
	}	
}

$i: random(300);

@keyframes fly-offset {	
	0%{
        transform: translate(-100px, $i + px);
    }
    100%{
        transform: translate(700px, $i + px);
    }	
}
